:root {
    --slash-angle: 120deg;
    --bg-color-left: oklch(37.9% 0.146 265.522);
    --bg-color-right: oklch(38.6% 0.063 188.416);
    --bg-arrow-color: oklch(85.2% 0.199 91.936);
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background: linear-gradient(var(--slash-angle), var(--bg-color-left) 0 45%, var(--bg-color-right) 55% 100%);
}

body::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    animation: slide 8s linear infinite;
    pointer-events: none;
}

@keyframes slide {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(141.42px, -141.42px);
    }
}

article {
    padding: 7rem;
    color: hsl(0, 100%, 95%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15pt;
}

h1 {
    margin-top: 0;
    font-size: 4em;
    margin-bottom: 0;
}

a {
    color: var(--bg-arrow-color);
}

@keyframes flyIn {
    0% {
        opacity: 0%;
        transform: translateX(-3em);
    }
    100% {
        opacity: 100%;
        transform: translateX(0em);
    }
}

#text-flight {
    display: inline-block;
    animation: 0.5s ease-in-out flyIn;
}

@media (max-width: 700px) {
    article {
        padding: 1.5rem;
        font-size: 13pt;
    }

    body::before {
        background-size: 150px;
    }

    body {
        flex-direction: column;
    }

    h1 {
        font-size: 3em;
    }
}